body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outer-div {
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
}

.inner-div {
  background-color: #fff; /* Solid white background for visibility */
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  margin: 50px; /* Example margin for positioning */
}